<nav class="navbar">
  <div class="nav-item">
    <a href="">Home</a>
  </div>
  <div class="nav-item">
    <a href="/backup">Backup</a>
  </div>
  <div class="nav-item">
    <a href="/playlist">Playlist</a>
  </div>
</nav>
