// $primaryColor: #2b2b4b;
// $primaryTextLight: #8d91a0;
// $secondaryColor: #00c6c7;
// $primaryLight: #5e5ce6;
// $dark: #12121f;

$primaryColor: #0277bd;
$primaryTextLight: #fff;
$primaryTextDark: #333;
$primaryBlank: #fff;
$secondaryBlank: #ccc;
$tertiaryBlank: #808080;
$secondaryColor: #3f50b5;
$secondaryLight: #757ce8;
$secondaryDark: #002884;
$primaryLight: #58a5f0;
$dark: #12121f;

.main {
  display: flex;
  font-family: "Noto Sans", sans-serif;
}

.container {
  //background: $primaryColor;
  color: $primaryTextDark;
  width: 100%;
  height: 100vh;
}

.view {
  display: flex;
  flex-direction: column;
}

//Generic
.btn {
  border-radius: 5%;
  border-style: none;
  padding: 2%;
}

.dark {
  background: $dark;
  color: $secondaryColor;
}

//Navbar

.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 150px;
  background: #12121f;
  color: $primaryTextLight;
  height: 100vh;
}

.nav-item {
  padding: 5%;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: $secondaryColor;
}

.page-header {
  background-color: $primaryColor;
  color: $primaryTextLight;
  //width: 100%;
  font-size: 36px;
  padding: 1%;
  align-self: stretch;
}

//Backup submit form page
.search-form-container {
  width: 100%;
}

.backup-search {
  display: flex;
  flex-direction: column;
  //justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: $primaryBlank;
}

.form-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-set > label {
}

.form-set > * {
  margin: 1%;
}

#playlistUrl {
  width: 90%;
}

.playlist-info-container {
  display: flex;
  flex-direction: column;
  margin: 1% auto 1% 1%;
  justify-content: space-between;
  font-size: 0.9rem;
  white-space: nowrap;

  * {
    padding: 1%;
  }
  .playlist-info-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

//Download buttons on playlist display
.backup-form {
  margin-left: auto;
}

.backup-controls-container {
  margin: 1% auto 1% 1%;

  .backup-form {
    display: flex;
  }

  .btn-download {
    margin: 1% 3% 1% 1%;
    font-size: 1.1rem;
    white-space: nowrap;
    padding: 5%;
    background-color: $secondaryColor;
    color: $primaryTextLight;
    box-shadow: 0px 2px 0px rgba($secondaryDark, 0.2);
    transition: all 0.05s ease-out 0s;
  }

  .btn-download:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}

//Playlist display

.playlist-container {
  overflow: auto;
  height: 90vh;
  width: 100%;
  .playlist-item {
    display: flex;
    //border: 1px solid $primaryLight;
    border-bottom: 1px solid $secondaryBlank;
    align-items: flex-start;
    padding: 1%;

    .playlist-item-desc {
      display: flex;
      flex-direction: column;
      margin: 1%;
      flex-grow: 4;

      .yt-title {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .yt-uploader {
        font-size: 1rem;
        color: $tertiaryBlank;
        margin-top: 1%;
      }
    }
  }

  // .playlist-item:nth-child(even) {
  //   background-color: $secondaryBlank;
  // }

  //don't really need this? Not really going to make them selectable
  // .playlist-item:hover {
  //   background-color: $primaryTextDark;
  // }
}
